extends template

block content
    form
        .form-boxx
            input.search(type="text" placeholder="Search.." onkeyup="searchName()")
            #dropdown
                a(href="#") Link 1
