extends template

block content

    form(name='interests')
        .form-box Choose your interests
            p Skydiving
            input(type='checkbox' name='interest' value='Skydiving' id='Skydiving')
            p Paintball
            input(type='checkbox' name='interest' value='Paintball' id='Paintball')
            p Drama
            input(type='checkbox' name='interest' value='Drama' id='Drama')
            p Skiing
            input(type='checkbox' name='interest' value='Skiing' id='Skiing')
            p Food
            input(type='checkbox' name='interest' value='Food' id='Food')
            p Taekwondo
            input(type='checkbox' name='interest' value='Taekwondo' id='Taekwondo')
            p Tai Chi
            input(type='checkbox' name='interest' value='Tai Chi' id='Tai Chi')
            p Scuba Diving
            input(type='checkbox' name='interest' value='Scuba Diving' id='Scuba Diving')
            p Hiking
            input(type='checkbox' name='interest' value='Hiking' id='Hiking')
            p Lasertag
            input(type='checkbox' name='interest' value='Lasertag' id='Lasertag')
            button#submit(type='button' onclick='addInterests()') Submit
