extends template

block content

    form(onsubmit="return login()")
        .form-box
            h2 Login
            .fb-item
                span Email
                br
                input(type='email' name='email' placeholder='Email' autofocus)
            .fb-item
                span Password
                br
                input(type='password' name='password' placeholder='******') 
            button#submit(type='submit') Login





