extends template

block content
	#usercard
		br
		img.center(src="http://www.pgconnects.com/helsinki/wp-content/uploads/sites/3/2015/07/generic-profile-grey-380x380.jpg")
		h1 Name - Age - Gender
		h3 Address
		h4 Interests
		h4 Past Check-ins
		h8 Friends
		br